{
  "env": {
    "browser": true
  },
  "plugins": ["react-hooks"],
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": "webpack"
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}