.appContainer {
  margin-top: 25px;
}

// Keyframe animations
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 100; }    
}

.fadeIn {
  opacity: 0;
  animation: fadeIn 0.75s forwards;
}

// Remove caret from downdown toggles
.noCaretDropdown {
  :global .dropdown-toggle::after {
    display: none !important;
  }
};
